In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopy.distance
from scipy import stats

In [56]:
df = pd.read_csv("E:\\BE LPIII practicals\\uber.csv")

In [57]:
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [58]:
df.describe()

,Unnamed: 0,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [59]:
df = df[(df.pickup_latitude<90) & (df.dropoff_latitude<90) &
       (df.pickup_latitude>-90) & (df.dropoff_latitude>-90) &
       (df.pickup_longitude<180) & (df.dropoff_longitude<180) &
       (df.pickup_longitude>-180) & (df.dropoff_longitude>-180)]

In [60]:
df['Distance'] = [round(geopy.distance.distance((df.pickup_latitude[i], df.pickup_longitude[i]),(df.dropoff_longitude[i],df.dropoff_longitude[i])).m,2) for i in df.index]

In [61]:
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Distance
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1,12726786.84
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1,12725126.14
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1,12722932.02
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3,12728799.36
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5,12724474.04

In [62]:
col = ['fare_amount']

In [63]:
df.boxplot(col)

In [64]:
corr = df.corr()
corr.style.background_gradient(cmap = "viridis_r")

C:\Users\Zashi\AppData\Local\Temp\ipykernel_2468\1746488849.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = df.corr()

In [65]:
x = df['Distance'].values.reshape(-1, 1)
y = df['fare_amount'].values.reshape(-1, 1)

In [66]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
x_std = std.fit_transform(x)
y_std = std.fit_transform(y)

In [67]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_std, y_std, test_size=0.2, random_state=100)

In [68]:
from sklearn.linear_model import LinearRegression
l_reg = LinearRegression()
l_reg.fit(x_train, y_train)
train_score = l_reg.score(x_train, y_train)
test_score = l_reg.score(x_test, y_test)
print("Training set score: ", train_score)
print("Testing set score: ",test_score)

Training set score:  3.3226261255681067e-05
Testing set score:  0.00022251103968895514

In [70]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=10, random_state=0)
regressor.fit(x.reshape(-1, 1), y.reshape(-1,1))

C:\Users\Zashi\AppData\Local\Temp\ipykernel_2468\4140569123.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x.reshape(-1, 1), y.reshape(-1,1))

RandomForestRegressor(n_estimators=10, random_state=0)

In [72]:
y_pred = regressor.predict(x_test)

In [73]:
from sklearn import metrics
print("r2 score: ", metrics.r2_score(y_test, y_pred))
print("Mean squared error: ", metrics.mean_squared_error(y_test, y_pred))
print("Mean absolute error: ", metrics.mean_absolute_error(y_test, y_pred))
print("Root mean squared error: ",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

r2 score:  -139.08011715472696
Mean squared error:  142.4163337975356
Mean absolute error:  11.89407330338964
Root mean squared error:  11.933831480188397